.flag-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    background-color: black;
}

.flag-card .flag-image{
    width: 500px;
    object-fit: cover;
}